<div class="center-form">
    @if(!loading_page){
        <h1 class="page-title">Reservations</h1>
        @if(reservations.length === 0) {
            <div class="no-reservations">
                <img src="../../../../../assets/empty.png" alt="No rooms available" />
                <h2>There are currently no reservations. Please check back later.</h2>
            </div>
        }
        @else {
            <nz-table #basicTable [nzShowPagination]="'false'" [nzData]="reservations">
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Room Type</th>
                        <th>Check In Date</th>
                        <th>Check Out Date</th>
                        <th>Price</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(reservation of reservations; track reservation.id) {
                        <tr>
                            <td>{{ reservation.roomName }}</td>
                            <td>{{ reservation.roomType }}</td>
                            <td>{{ reservation.checkInDate }}</td>
                            <td>{{ reservation.checkOutDate }}</td>
                            <td>{{ reservation.price }}</td>
                            <td>{{ reservation.username }}</td>
                            <td>
                                <ng-container>
                                    @if(reservation.reservationStatus === 'PENDING'){
                                        <nz-tag nzColor="processing">
                                            <span nz-icon nzType="sync" nzSpin></span>
                                            <span>Pending</span>
                                        </nz-tag>
                                    }
                                    @else if(reservation.reservationStatus === 'APPROVED'){
                                        <nz-tag nzColor="success">
                                            <span nz-icon nzType="check-circle"></span>
                                            <span>Approved</span>
                                        </nz-tag>
                                    }
                                    @else if(reservation.reservationStatus === 'REJECTED'){
                                        <nz-tag nzColor="error">
                                            <span nz-icon nzType="close-circle"></span>
                                            <span>Rejected</span>
                                        </nz-tag>
                                    }
                                </ng-container>
                            </td>
                            <td>
                                <span>
                                    @if(reservation.reservationStatus === 'PENDING'){
                                        <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                                            [nzTwotoneColor]="'#52c41a'" class="icon" (click)="changeReservationStatus(reservation.id, 'Approve')">
                                        </span>

                                        <span nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"
                                            [nzTwotoneColor]="'#FF0000'" class="icon" (click)="changeReservationStatus(reservation.id, 'Reject')">
                                        </span>
                                    }
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </nz-table>
            <div *ngIf="reservations.length !== 0" class="pagination">
                <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1"
                (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
            </div>
        }
    } 
    @else {
        <nz-spin nzTip="Loading..." [nzSize]="'large'"></nz-spin>
    }
</div>
